* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

img {
  max-width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn_simple {
  color: #722ED1;
  border: 1px solid #722ED1;
  border-radius: 23px;
  padding: 8px 24px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn_simple:hover {
  background-color: #722ED1;
  color: #fff;
}

.btn {
  color: #ffffff;
  margin-right: 16px;
  background-color: #722ED1;
  border-radius: 24px;
  padding: 14px 40px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.btn:hover {
  background-color: #ffffff;
  color: #000000;
}
.btn.btn_white {
  background-color: #722ED1;
  color: #ffffff;
}

#header {
  padding-top: 24px;
}
#header .inner_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#header .inner_header .logo {
  display: block;
  width: 48px;
  height: 48px;
}
#header .inner_header .logo img {
  width: 100%;
}
#header .inner_header .right_side_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .inner_header .right_side_header .mnu_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
#header .inner_header .right_side_header .mnu_top > li {
  display: inline-block;
  position: relative;
}
#header .inner_header .right_side_header .mnu_top a {
  display: block;
  text-decoration: none;
  padding-right: 40px;
  padding: 5px 40px 5px 5px;
  font-size: 15px;
  color: #000;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
#header .inner_header .right_side_header .mnu_top a:hover {
  color: #722ED1;
}

.sub_menu {
  position: absolute;
  top: 35px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px;
          box-shadow: 0 3px 6px;
  z-index: 10;
  border-radius: 5px;
  -webkit-animation: 0.6s opac;
          animation: 0.6s opac;
  display: none;
}
.sub_menu > li {
  display: block;
}
.sub_menu > li > a {
  padding: 3px 10px;
  font-size: 14px;
}

.has_sub_menu:hover > .sub_menu {
  display: block;
}
.has_sub_menu::after {
  content: "";
  display: block;
  width: 8px;
  height: 4px;
  background-image: url("/img/main/arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 10px;
  right: 24px;
}

@-webkit-keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#top_banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.notif {
  padding: 8px 25px;
  border-radius: 30px;
  background: #F9F0FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.notif img {
  width: 16px;
  height: auto;
  margin-right: 7px;
}
.notif p {
  color: #722ED1;
}
.notif a {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
  border-bottom: 1px solid #722ED1;
  color: #722ED1;
}
.notif a:hover {
  color: #5b25a7;
  border-color: #5b25a7;
}

.main_banner {
  padding: 240px 0 370px;
}
.main_banner .mb_info h1 {
  color: #000000;
  font-weight: 700;
  line-height: 1.2;
  font-size: 48px;
  max-width: 416px;
  margin-top: 10px;
}
.main_banner .mb_info .descr {
  color: #8989a2;
  margin: 14px 0 44px;
}
.main_banner .mb_info .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_banner .mb_info .btns .btn_white {
  margin-right: 16px;
}

section {
  padding: 80px 0;
}
section#top_banner {
  padding: 0;
}

.advantages .notif {
  margin: 0 auto;
}
.advantages .notif img {
  width: 26px;
  height: auto;
  margin-right: 7px;
}

h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #160637;
  margin: 32px auto 12px;
}

.desription {
  max-width: 620px;
  text-align: center;
  margin: 0 auto;
  color: #8989a2;
  margin-bottom: 48px;
}

.row_adv .item_adv > img {
  width: 48px;
  height: 40px;
  border-radius: 50%;
}
.row_adv .item_adv > .heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #160637;
  margin: 24px 0 16px;
}
.row_adv .item_adv > .descr {
  color: #8989A2;
}

section.information .img_responsive {
  margin: 0 auto;
}
section.information .right_info {
  padding-left: 50px;
}
section.information .right_info > h3 {
  font-weight: 800;
  margin: 24px 0;
  color: #160637;
  font-size: 36px;
}
section.information .right_info > .descr {
  font-weight: 500;
  color: #8989A2;
  max-width: 450px;
}

.rewiews {
  padding: 200px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/rewiews/rew_bg.svg");
}
.rewiews .item_rev {
  text-align: center;
  display: none;
  -webkit-animation: opac 0.4s ease;
          animation: opac 0.4s ease;
}
.rewiews .item_rev.active {
  display: block;
}
.rewiews .item_rev > .quotes {
  height: 100px;
  color: #160637;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 16px;
  max-width: 660px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.rewiews .item_rev > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.rewiews .item_rev > .name {
  margin-top: 16px;
}
.rewiews .item_rev > .name, .rewiews .item_rev > .position {
  color: #000000;
  font-weight: 800;
}
.rewiews .line {
  height: 1px;
  width: 100%;
  background-color: #DEC9FA;
  margin: 56px 0;
}
.rewiews .nav_rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}
.rewiews .nav_rev > div {
  width: 16%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rewiews .nav_rev > div:hover, .rewiews .nav_rev > div.active {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.btn_form {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 14px;
  color: #fff;
  background: #722ED1;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 4px;
  -webkit-transition: border-radius 0.4s ease-in-out;
  transition: border-radius 0.4s ease-in-out;
}
.btn_form:hover {
  border-radius: 10px;
}

#pre_footer .pf_info h4 {
  color: #160637;
  font-weight: 900;
  font-size: 38px;
  text-align: center;
  line-height: 1.2;
}
#pre_footer .pf_info > .line_img {
  display: block;
  margin: 42px auto;
}
#pre_footer .pf_info > .img_responsive {
  display: block;
  margin: 0 auto;
}
#pre_footer .form_wrapper {
  background-color: #F9F0FF;
  border-radius: 4px;
  max-width: 480px;
  margin: 0 auto;
}
#pre_footer .form_wrapper > form {
  border: 1px solid #F9F0FF;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-box-shadow: 0 10px 20px rgba(116, 116, 116, 0.16);
          box-shadow: 0 10px 20px rgba(116, 116, 116, 0.16);
  border-radius: 4px;
  width: 86%;
  margin: 0 auto;
  background-color: #fff;
  padding: 36px 36px 24px;
}
#pre_footer .form_wrapper > form > h4 {
  color: #160637;
  font-size: 22px;
  margin-bottom: 32px;
  font-weight: 900;
  text-align: center;
}
#pre_footer .form_wrapper > form > input {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(137, 137, 162, 0.5);
  margin-bottom: 16px;
  padding: 14px 24px;
}
#pre_footer .form_wrapper > form > input::-webkit-input-placeholder {
  color: #8989A2;
  font-size: 16px;
}
#pre_footer .form_wrapper > form > input:-ms-input-placeholder {
  color: #8989A2;
  font-size: 16px;
}
#pre_footer .form_wrapper > form > input::-ms-input-placeholder {
  color: #8989A2;
  font-size: 16px;
}
#pre_footer .form_wrapper > form > input::placeholder {
  color: #8989A2;
  font-size: 16px;
}
#pre_footer .form_wrapper > form > .or {
  text-align: center;
  margin: 20px auto 15px;
  color: #000000;
  text-transform: uppercase;
}
#pre_footer .form_wrapper > form > a {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  text-decoration: none;
}
#pre_footer .form_wrapper > form > .footer_form > .line {
  height: 1px;
  width: 100%;
  background-color: rgba(137, 137, 162, 0.5);
  margin: 22px 0px;
}
#pre_footer .form_wrapper > form > .footer_form > p {
  text-align: center;
}
#pre_footer .form_wrapper > form > .footer_form > p > a {
  text-transform: none;
  color: #722ED1;
}

#footer {
  background-color: #FBFCFF;
  padding: 60px 0;
}
#footer .logo_info > a {
  width: 48px;
  height: 48px;
  display: block;
}
#footer .logo_info > a > img {
  margin: 0 auto;
}
#footer .descr {
  color: #160637;
  font-size: 14px;
  margin: 16px 0;
}
#footer .social {
  list-style-type: none;
}
#footer .social > li {
  display: inline-block;
  margin-right: 15px;
}
#footer .social > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 16px;
}
#footer .mnu_footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}
#footer .mnu_footer_wrapper > .mnu_footer {
  width: 23%;
}
#footer .mnu_footer_wrapper > .mnu_footer > b {
  margin-bottom: 20px;
  display: block;
  font-size: 16px;
  font-weight: 900;
}
#footer .mnu_footer_wrapper > .mnu_footer > ul {
  list-style-type: none;
}
#footer .mnu_footer_wrapper > .mnu_footer > ul > li {
  display: block;
}
#footer .mnu_footer_wrapper > .mnu_footer > ul > li > a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  color: #160637;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  padding: 5px 40px 5px 0;
}
#footer .mnu_footer_wrapper > .mnu_footer > ul > li > a:hover {
  color: #722ED1;
}
#footer .newsletter > b {
  margin-bottom: 25px;
  display: block;
  font-size: 16px;
  font-weight: 900;
}
#footer .newsletter > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 9px rgba(0, 0, 0, 0.05);
  margin-top: 8px;
}
#footer .newsletter > form > input {
  display: block;
  border: none;
  outline: none;
  padding: 12px 16px;
}
#footer .newsletter > form > input:placeholder {
  color: gray;
  font-size: 14px;
}
#footer .newsletter > form > button {
  position: absolute;
  right: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  display: block;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#footer .newsletter > form > button > img {
  width: 20px;
  height: 20px;
}

.copy {
  padding-bottom: 15px;
  text-align: center;
  font-weight: 900;
  margin-top: 66px;
}
